#wrapper {
    max-width: 1440px;
}

header {
    background-image: url("../img/hero.png");
    background-position: top right;
    background-size: cover;
    height: 70vh;
    margin-bottom: 30px;

}

.fa-solid {
    font-size: 30px;
}

.navbar-brand {
    font-size: 30px;
}

i #glassIco {
    font-size: 50px;
}


.navbar-nav {
    font-size: 30px;
}

h1 {
    margin-bottom: 30px;
}

table {
    font-size: 20px;
}

tbody th {
    text-align: center;
  }

#ico {
    height: 15vh;
}
#icoResume {
    width: 10vw;
}


